body {
    font-family: 'Consolas', Monaco, 'Courier New', Courier, monospace;
    background-color: #222; /* Gris oscuro */
    color: #eee; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px; /* Añade un poco de espacio alrededor del contenedor en pantallas pequeñas */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.container {
    background-color: #333;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    text-align: center;
    animation: fadeInDark 0.5s ease-out forwards;
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    box-sizing: border-box;
}

@keyframes fadeInDark {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    color: #00ff88; /* Verde brillante para el título */
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
}

h2 {
    color: #ccc;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.8em;
}

p {
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: #00ff88;
    color: #222;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 255, 136, 0.2);
    margin: 10px 0; /* Espacio arriba y abajo de los botones */
}

button:hover {
    background-color: #00cc66;
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 255, 136, 0.3);
}

button:disabled {
    background-color: #777;
    color: #ccc;
    cursor: not-allowed;
    transform: scale(1);
    box-shadow: none;
}

#time-left {
    font-size: 1.5em;
    font-weight: bold;
    color: #00ff88;
}

#claim-status, #withdraw-status, #deposit-address {
    margin-top: 20px;
    font-weight: bold;
}

#claim-status.success-animation, #withdraw-status.success-animation {
    color: #00ff88;
    animation: scaleUp 0.5s ease-out;
}

#claim-status.error-animation, #withdraw-status.error-animation, #deposit-address.error-animation {
    color: #ff6f61;
    animation: shakeHorizontal 0.3s ease-in-out;
}

.hidden {
    display: none;
}

#history-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

#history-list li {
    padding: 8px 0;
    border-bottom: 1px solid #444;
}

#history-list li:last-child {
    border-bottom: none;
}

#current-balance {
    font-size: 1.2em;
    font-weight: bold;
    color: #00ffcc; /* Un verde cian más suave para el balance */
}

.math-inline {
    color: #f0f0f0; /* Color para los números del temporizador */
  }
